<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.RedamancyAY.siyuansearch</string>
	<key>category</key>
	<string>ay</string>
	<key>connections</key>
	<dict>
		<key>5137CC88-9685-4D8F-AA6A-8213C488A140</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BD44F7D-508B-457A-B294-54067B090028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BD44F7D-508B-457A-B294-54067B090028</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F3D8A39-5B83-4DEE-9F76-CCCAC95731B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>RedamancyAY</string>
	<key>description</key>
	<string>search siyuan within multiple workspaces</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SiYuan-Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5137CC88-9685-4D8F-AA6A-8213C488A140</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>搜索中...</string>
				<key>script</key>
				<string>#!/bin/bash

# Get the PYTHON_PATHS variable from Alfred
IFS=':' read -r -a paths &lt;&lt;&lt; "$PYTHON_PATHS"

# Check each path and find the first valid one
for path in "${paths[@]}"; do
    if [ -x "$path" ]; then
        # Run the Python script with the valid path
        "$path" main.py "{query}"
        exit 0
    fi
done

# If no valid Python path is found, print an error and exit
echo "Error: No valid Python path found in PYTHON_PATHS." &gt;&amp;2
exit 1
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Note in Siyuan</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BD44F7D-508B-457A-B294-54067B090028</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4F3D8A39-5B83-4DEE-9F76-CCCAC95731B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Plase go to  https://github.com/RedamancyAY/Alfred-SiYuan-Search-Workflow to see more info.



## Environment Variabls


First, you must set the python paths to run the python script. Specifically, you can set multiple python paths, separated by `:`. For example:
```bash
path/of/python1:path/of/python2:path/of/python3
```

Second, you can set multiple siyuan workspaces, the format is `SIYUAN_WORKSPACE_xxx`. For example:
```bash
SIYUAN_WORKSPACE_1
SIYUAN_WORKSPACE_2
SIYUAN_WORKSPACE_3
```

## Run script

Set a shortcut key or use the keyword: `sy` to use it directly~</string>
	<key>uidata</key>
	<dict>
		<key>4F3D8A39-5B83-4DEE-9F76-CCCAC95731B5</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>5137CC88-9685-4D8F-AA6A-8213C488A140</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>6BD44F7D-508B-457A-B294-54067B090028</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>PYTHON_PATHS</key>
		<string>/Volumes/GEIL2T/Softwares/anaconda3/bin/python:/Users/ay/SoftwareData/anaconda/anaconda3/envs/torch/bin/python</string>
		<key>SIYUAN_WORKSPACE_1</key>
		<string>/Users/ay/SoftwareData/siyuan-noteplan</string>
		<key>SIYUAN_WORKSPACE_2</key>
		<string>/Users/ay/SoftwareData/siyuan-micc</string>
		<key>SIYUAN_WORKSPACE_3</key>
		<string>/Users/ay/SoftwareData/Siyuan</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SIYUAN_WORKSPACE_3</string>
		<string>SIYUAN_WORKSPACE_1</string>
		<string>PYTHON_PATHS</string>
		<string>SIYUAN_WORKSPACE_2</string>
	</array>
	<key>version</key>
	<string>2025.1.26</string>
	<key>webaddress</key>
	<string>https://github.com/RedamancyAY/Alfred-SiYuan-Search-Workflow</string>
</dict>
</plist>
